fastapi
uvicorn

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
python-dotenv
email-validator

python-jose
passlib
bcrypt

python-multipart

celery
redis
google-genai
google-auth
anthropic
rapidfuzz

pytest
pytest-asyncio